.textfor {
  cursor: pointer;
  padding: .1rem .6rem;
  border: 1px dashed black;
  margin: .5rem;
}
.topwrapperredux {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border: 1px solid black;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 80%;
  margin: 6% auto;
 }
.counttext {
  padding: 1rem;
  border: 1px dashed black;
  border-radius: 20px;
}

.item { 
  animation-name: item;
  animation-duration: 1s; 
  position: relative;
}
.deleteBtn {
  margin: 1rem 0rem 1rem 3rem;
}

@keyframes item {
  from {
    right: 50px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
 
}

.list-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list-items {
  list-style-type: none;
}
.toggelbtn {
  display: none;
}

.main-Div {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.dataapi {
  font-weight: bold;
}

@media (max-width:768px){
  .toggelbtn {
    display: block;
  }
  .list-ul {
    display: none;
  }
  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

}

