.textfor {
  cursor: pointer;
  padding: .1rem .6rem;
  border: 1px dashed black;
  margin: .5rem;
}
.topwrapperredux {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border: 1px solid black;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 80%;
  margin: 6% auto;
 }
.counttext {
  padding: 1rem;
  border: 1px dashed black;
  border-radius: 20px;
}

.item { 
  animation-name: item;
  animation-duration: 1s; 
  position: relative;
}
.deleteBtn {
  margin: 1rem 0rem 1rem 3rem;
}

@keyframes item {
  from {
    right: 50px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
 
}
